<div class="{{::$ctrl.styles.default}}">
  <md-card>
    <md-card-title>
      <h2 class="md-title padding" md-colors="{color:'primary'}">Usúarios vinculados ao estabelecimento</h2>
    </md-card-title>
     <md-button class="md-fab md-primary md-fab-bottom-right md-icon-button" ui-sref="usuario-create">
    <ng-md-icon icon="add" class="{{::$ctrl.styles.botaoAdd}}"></md-icon>
</md-button>
    <md-list>
      <md-list-item ng-repeat="i in [1,2,3,4,5]">
        <img class="md-avatar" src="https://avatars0.githubusercontent.com/u/1341623?v=3&u=7331f8af9b19cb1c936bd2845d1a63dc5bcbcbb1&s=400" />
        <p>Rafael Lopes Dantas</p>
        <md-button ui-sref="usuario-create({id: usuario.id})" aria-label="Editar permissões" class="md-primary md-raised"> Editar permissões </md-button>
        <md-button ng-click="$ctrl.desvincularUsuario(usuario.id)" aria-label="Desvincular usuario" md-colors="{color:'red'}"> Desvincular usuario </md-button>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-card>
</div>