.default {
  md-input-container {
    width: 100%;
  }

  md-input-container {
    text-align: left;
  }
}


.buttonAdd {
  text-align: right;
}

.text-center {
  text-align: center;
}

.permissions {
  width: 50%;
  margin: 0 auto;
  p {
    text-align: left;
    font-weight: 700;
    display: block;
  }
}


