.login {
  overflow: hidden;
}

.loginBox {
  min-height: 40%;
  min-width: 35%;
  position: absolute;
}

md-input-container {
    margin: 1% 0; 
}

.fullscreen-bg {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -100;
  background-color: rgb(75,0,130);
}